@{
  Layout = "_Layout";
}
@Html.Partial("Header")
@model Bakery.Models.Treat

<h2>ADD TREAT</h2>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)
  <br>
  @Html.Label("Select Flavor")
  @Html.DropDownList("FlavorId")
  <input type="submit" value="ADD TREAT" class="button" />
}