@{Layout = "_Layout";}

@using DoctorOffice.Models;
@model DoctorOffice.Models.Patient;

<h1>@Html.DisplayFor(model => model.Name)</h1>
<h4>Date of Birth: @Html.DisplayFor(model => model.DOB)</h4>
<hr />
@if (@Model.Doctors.Count == 0)
{
  <h4>No Doctors found</h4>
}
else
{
  <h4>Current Doctors</h4>
  <ul>
    @foreach(var join in Model.Doctors)
    {
      <li><a href="/Doctors/Details/@join.DoctorId">@join.Doctor.Name</a>
      @using (Html.BeginForm("DeleteDoctor", "Patients"))
      {
        @Html.Hidden("joinId", @join.DoctorPatientId)
        <input type="submit" class="btn" value="DELETE THIS DOCTOR"/>
      } </li>
    }
  </ul>
}

<div class="four-buttons">
  @Html.ActionLink("ADD DOCTOR", "AddDoctor", "Patients", new { id = Model.PatientId}, new { @class="btn" })
  @Html.ActionLink("VIEW ALL PATIENTS", "Index", "Patients", null, new { @class = "btn" })
  @Html.ActionLink("EDIT DETAILS", "Edit", "Patients", new { id = Model.PatientId }, new { @class = "btn" })
  @Html.ActionLink("DELETE PATIENT", "Delete", "Patients", new { id = Model.PatientId }, new { @class = "btn" })
</div>