@{
  Layout = "_Layout";
}
@Html.Partial("Header")
@using Bakery.Models;
@model Bakery.Models.Treat;

<h1>Current @Html.DisplayFor(model => model.Description) Flavors:</h1>
<br />
@if (@Model.Flavors.Count == 0)
{
  <h4>No Flavors found</h4>
}
else
{
  <ul>
    @foreach(var join in Model.Flavors)
    {
      <li><a href="/Flavors/Details/@join.FlavorId">@join.Flavor.Description</a>
      @using (Html.BeginForm("DeleteFlavor", "Treats"))
      {
        @Html.Hidden("joinId", @join.FlavorTreatId)
        <input type="submit" class="button" value="DELETE THIS FLAVOR"/>
      } </li>
    }
  </ul>
}
@Html.ActionLink("ADD FLAVOR", "AddFlavor", "Treats", new { id = Model.TreatId})
@Html.ActionLink("EDIT DETAILS", "Edit", "Treats", new { id = Model.TreatId })
@Html.ActionLink("DELETE TREATS", "Delete", "Treats", new { id = Model.TreatId })
