@{
  Layout = "_Layout";
}

@model DoctorOffice.Models.Patient

<h1>EDIT THIS PATIENT: @Html.DisplayFor(model => model.Name)</h1>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.PatientId)

  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.LabelFor(model => model.DOB)
  @Html.TextBoxFor(model => model.DOB)

  @Html.Label("Select doctor")
  @Html.DropDownList("DoctorId")

  <input type="submit" class="btn-block" value="SAVE CHANGES" />
}