@{
  Layout = "_Layout";
}
@Html.Partial("Header")
@model Bakery.Models.Treat

<h1>EDIT THIS TREAT: @Html.DisplayFor(model => model.Description)</h1>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)

  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)

  <input type="submit" class="button" value="SAVE CHANGES" />
}