@{
  Layout = "_Layout";
}
@Html.Partial("Header")
@using Bakery.Models;
@model Bakery.Models.Flavor;

<h1>@Html.DisplayFor(model => model.Description) treats:</h1>
<br>
@if (@Model.Treats.Count == 0)
{
  <h2>no treats found</h2>
} else
{
  <ul>
    @foreach (var join in Model.Treats)
    {
      <li><a href="/Treats/Details/@join.TreatId">@join.Treat.Description</a></li>
    }
  </ul>
}
<br>
@Html.ActionLink("ADD TREAT", "Create", "Treats", null)
@Html.ActionLink("EDIT DETAILS", "Edit", "Flavors", new { id = Model.FlavorId })
@Html.ActionLink("DELETE FLAVOR", "Delete", "Flavors", new { id = Model.FlavorId })
