@{
  Layout = "_Layout";
}
@Html.Partial("Header")
@using Bakery.Models;
@model Bakery.Models.Flavor;

<h1>EDIT DETAILS FOR: @Html.DisplayFor(model => model.Description)</h1>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)

  @Html.LabelFor(model => model.Description)
  @Html.EditorFor(model => model.Description)
  <br>
  <input type="submit" class="button" value="SAVE" />
}

@Html.ActionLink("SHOW ALL FLAVORS", "Index", "Flavors", null, new { @class = "btn-block" })
© 2020 GitHub, Inc.